/* Base Theme for HTML elements */

body {
  background-color: $white;
  font-family: $base-sans-serif;
  line-height: 1;
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

aside,
blockquote {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 .5em;
}

q,
p {
  @include font-size($base);
  font-family: $base-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 1em;
}

ul {
  list-style: none;
  padding: 0;

  &.bullet,
  &.carat {
    font-family: $base-sans-serif;
    font-weight: 400;
    padding: 0 1em;

    li {
      margin-bottom: .5em;

      &:last-child {
        margin-bottom: 1em;
      }
    }

  }

  &.bullet {
    list-style: disc;
  }

  &.carat {

    li {
      &:before {
        content: '\203A';
        font-family: $base-sans-serif;
        margin: 0 .5em 0 -1em;
        padding: 0;
      }
    }
  }

}

figure {
  margin: 0;

  img {
    width: 100%;
  }
}

hr {
  background-color: $line-gray;
  border: 0 none;
  height: 2px;
  margin-bottom: 1em;

  &.thin {
    height: 1px;
  }

  &.yellow {
    background-color: $tribune-yellow;
  }
}

.container {
  @include clearfix;
}

%forms {
  form,
  select {
    display: inline-block;

    &.full-width {
      width: 100%;
    }
  }

  select,
  [type="text"],
  [type="radio"],
  [type="email"],
  [type="number"] {
    @extend %font-base;
    background: transparent;
    border: 1px solid $line-gray;
    display: inline-block;
    font-family: $base-sans-serif;
    font-weight: 400;
    margin-bottom: .5em;
    min-height: 2em;
  }

  option,
  [type="text"],
  [type="radio"],
  [type="email"],
  [type="number"] {
    padding: .5em .25em;
  }

  [type="submit"],
  [type="button"] {
    @include btn($tribune-yellow);
  }
}
