// Tribune Colors
$tribune-yellow: rgb(255, 194, 0);
$teal: rgb(0, 137, 144);

// Shades of Gray
$black: rgb(0, 0, 0);
$tribune-black: rgb(17, 17, 17);
$bodytext-black: rgb(40, 40, 40);
$text-gray: rgb(102, 102, 102);
$line-gray: rgb(187, 187, 187);
$border-gray: rgb(204, 204, 204);
$footer-offwhite: rgb(238, 238, 238);
$glossary-gray: rgb(245, 245, 245);
$white: rgb(255, 255, 255); 

//Color extensions
$button-hover-teal: $teal;
$button-selected-teal: transparentize($teal, .5);
$href-teal: $teal;
$hr-gray: $line-gray; 
$masthead-black: $tribune-black;
$share-button-black: $tribune-black;
