// Tribune Colors
$tribune-yellow: rgb(255, 194, 0);
$tribune-teal: rgb(0, 137, 144);

// Shades of Gray
$black: rgb(0, 0, 0);
$tribune-black: rgb(17, 17, 17);
$bodytext-black: rgb(40, 40, 40);
$text-gray: rgb(102, 102, 102);
$line-gray: rgb(187, 187, 187);
$border-gray: rgb(204, 204, 204);
$href-offwhite: rgb(221, 221, 221);
$background-gray: rgb(245, 245, 245);
$white: rgb(255, 255, 255);

// Graphic Color Scheme
$orange: rgb(255, 98, 73);
$light-orange: rgb(255, 212, 84);
$purple: rgb(151, 114, 197);
$green: rgb(141, 201, 103);
$blue: rgb(74, 161, 204);
$light-blue: rgb(144, 211, 200);

// Party colors!
$dem-blue: rgb(23, 117, 174);
$rep-red: rgb(214, 73, 70);

//Color extensions
$teal: $tribune-teal;
$button-hover-teal: $tribune-teal;
$button-selected-teal: transparentize($tribune-teal, .5);
$href-teal: $tribune-teal;
$hr-gray: $line-gray;
$explainer-gray: $background-gray;
$masthead-black: $tribune-black;
$share-button-black: $tribune-black;
