// Base Tribune Colors
$tribune-yellow: rgb(255, 194, 0);
$bodytext-black: rgb(40, 40, 40);
$masthead-black: rgb(17, 17, 17);
$href-teal: rgb(0, 137, 144);

$hr-gray: rgb(187, 187, 187); 
$footer-offwhite: rgb(238, 238, 238);

// shades of gray
$lt-gray: rgb(207, 204, 199);
$dk-gray: rgb(102, 102, 102);
$glossary-gray: rgb(245, 245, 245); 
$line-gray: rgb(187, 187, 187);
$eee: rgb(238, 238, 238);

$button-selected-teal: rgba(0, 137, 144, .5);
$button-hover-teal: rgb(0, 137, 144);

