/* Basic Style Mixins */

@mixin white-space($margin) {
  margin-bottom: $margin+em;
}

/* Grid Mixins */

@mixin list-grid ($bp, $col-width, $number-li) {
  //Creates a grid for list items
  //$bp = breakpoint
  //$col-width = the number of span-columns in your grid
  //$number-li = the number of list items
  ul {
    @include span-columns($col-width);
    @include pad(0);
    
    li {
      @include span-columns($col-width of $col-width);
      @include media($bp) {
        @include span-columns($col-width / $number-li of $col-width);
        @include omega($number-li+n);
      }
    }
  }
}

@mixin div-grid ($bp, $col-width, $number-div, $min-col) {
  // @include span-columns ($col-width / $min-col);
  
  @include media($bp) {
    div {
      @include span-columns($col-width / $number-div of $col-width);
    }
  }
}

