/* Basic Style Mixins */


@mixin hide($bp) {
  @include media($bp) {
    display: none;
  }
}

@mixin clearfix {
  &:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
}



