/* PLACEHOLDERS */

// Grid Placeholders
%container {
  @include outer-container;
}

%content-block {
  @include pad(0 1.25em);
}

%content-block-full {
  @include media($default-480) {
    @include pad(0);
  }
}


// Typography Placeholders
%prose {
  @include font-size($base);
  color: $bodytext-black;
  display: block;
  font-family: $base-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

%dataviz-header {
  font-family: $base-sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

%explainer-text {
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
}

%href-on-black {
  color: $href-offwhite;
  text-decoration: none;

  &:active {
    color: $white;
    text-decoration: underline;
  }

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

%paragraph-header {
  font-family: $base-sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;
}

