/* Grid Settings */

%container {
  @include outer-container;
}

%content-block {
  @include pad(0 1.25em);
}

%content-block-full {
  @include media($default-480) {
    @include pad(0);
  }
}

// Footer Links 

%href-on-black {
  color: $href-offwhite;
  text-decoration: none;

  &:active {
    color: $white;
    text-decoration: underline;
  }

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}



// Prose 

%prose {
  color: $bodytext-black;
  display: block;
  font-family: $base-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}
  
%paragraph-header {
  font-family: $base-sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;

}
