// Typography
// ==========

// Base Typography Variables
$base-sans-serif: $helvetica;
$base-serif: $georgia;

// Font Sizes
$base: 16;
$xxl: 36;
$xl: 28;
$l: 24;
$m: 20;
$s: 14;
$xs: 12;

// Font Sizes

// Calculate pixels to rem units for font sizes
@mixin font-size($f) {
  font-size: $f+px; // for IE8
  font-size: $f/$base+rem;
}

// Change the font-size at a breakpoint.
// For example, you could set font-size: $pct to 78% on mobile.
@mixin font-size-bp($bp, $pct) {
  @include media($bp) {
    font-size: $pct;
  }
}

// These classes can be applied to any element
// to set the font-size.
.font-xxl {
  @include font-size($xxl);
}

.font-xl {
  @include font-size($xl);
}

.font-l {
  @include font-size($l);
}

.font-m {
  @include font-size($m);
}

.font-s {
  @include font-size($s);
}

.font-xs {
  @include font-size($xs);
}

// Base Elements

body {
  @include font-size($base);
  font-family: $base-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-sans-serif;
  font-weight: 800;
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  @include font-size($base);
  font-family: $base-serif;
  font-weight: 400;
  line-height: 1.4em;
}

ul {
  @include font-size($base);
  font-family: $base-sans-serif;
  list-style: none;
  padding: 0;

  &.disc {
    list-style: disc;
    padding: 0 1em;
  }
}
