// Typography
// ==========
$base-sans-serif: $helvetica;
$base-serif: $georgia;

// Prose Settings
%prose {
  color: $bodytext-black;
  display: block;
  font-family: $base-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

%paragraph-header {
  font-family: $base-sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;
}

// Data Viz text (Sans Serif)
%dataviz-header {
  font-family: $base-sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

// Font Sizes
$base: 16;
$xxl: 36;
$xl: 24;
$l: 24;
$m: 20;
$s: 14;
$xs: 10;

// Calculate pixels to rem units for font sizes
@mixin font-size($f) {
  font-size: $f+px; // for IE8
  font-size: $f/$base+rem;
}

html {
  font-size: 78%;
}
@media all and (min-width: 600px) {
  html {
    font-size: 88%;
  }
}
@media all and (min-width: 800px) {
  html {
    font-size: 100%;
  }
}
body {
  font-family: $base-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-sans-serif;
  font-weight: 900;
  margin-bottom: calc(10rem / 16);
}

.font-xxl {
  @include font-size($xxl);
}

.font-xl {
  @include font-size($xl);
}
.font-l {
  @include font-size($l);
}
.font-m {
  @include font-size($m);
}
.font-s {
  @include font-size($s);
}
.font-xs {
  @include font-size($xs);
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p, ul {
  font-size: calc(18rem / 16);
  margin-bottom: calc(18rem / 16);
}

p {
  font-family: $base-serif;
  font-size: $base;
  font-weight: 400;
  line-height: 1.4em;
}

ul {
  @include font-size($s);
  font-family: $base-sans-serif;
  font-weight: 600;
  list-style: none;
  padding: 0 1em;

  &.disc {
    list-style: disc;
  }
}

li {
  margin-bottom: .5em;

  &:last-child {
    margin-bottom: 2em;
  }
}

.prose {
  @extend %content-block;
  @extend %prose;
  @include clearfix;

  h1 { //headline
    font-family: $base-sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1.25em 0 .6em;
  }

  h2 { //block-quote text
    font-family: $base-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2em;
    margin: .7em .5em;
    position: relative;
    text-align: left;
  }

  h3 { //paragraph header
    @extend %paragraph-header;

    &.data-header {
      margin: 0 0 1em;
      text-transform: none;
    }
  }

  p {
    margin-bottom: 1em;

    &.byline { //byline
      font-family: $base-sans-serif;
      font-size: .85em;
      margin-bottom: 0;

      a {
        font-weight: 800;
      }
    }

    &.caption {
      color: $text-gray;
      font-family: $base-sans-serif;
      font-size: .85em;
      font-weight: 400;
      margin: .25em 0;
    }

    &.source {
      font-family: $base-sans-serif;
      font-weight: 300;
      margin: 1em .5em;
    }

  }

  img {
    width: 100%;
  }

}

.block-text {
  border-color: $tribune-yellow;
  border-style: solid;
  border-width: 1px 0;
  position: relative;
}

.explainer-header {
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
}

.explainer-text {
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
}
