// Typography
// ==========
$base-sans-serif: $helvetica;
$base-serif: $georgia;

// Font Sizes
$base: 16;
$xxl: 36;
$xl: 28;
$l: 24;
$m: 20;
$s: 14;
$xs: 12;

// Calculate pixels to rem units for font sizes
@mixin font-size($f) {
  font-size: $f+px; // for IE8
  font-size: $f/$base+rem;
}

// Include this mixin to change the font-size at a breakpoint.
// For example, you could set font-size: $pct to 78% on mobile.
@mixin font-size-bp($bp, $pct) {
  @include media($bp) {
    font-size: $pct;
  }
}

body {
  @include font-size($base);
  font-family: $base-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-sans-serif;
  font-weight: 800;
  margin-bottom: calc(10rem / 16);
}

// These classes can be applied to any element
// to set the font-size.
.font-xxl {
  @include font-size($xxl);
}

.font-xl {
  @include font-size($xl);
}

.font-l {
  @include font-size($l);
}

.font-m {
  @include font-size($m);
}

.font-s {
  @include font-size($s);
}

.font-xs {
  @include font-size($xs);
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  @include font-size($base);
  font-family: $base-serif;
  font-weight: 400;
  line-height: 1.4em;
}

ul {
  @include font-size($base);
  font-family: $base-sans-serif;
  list-style: none;
  padding: 0;

  &.disc {
    list-style: disc;
    padding: 0 1em;
  }
}

// Prose Settings
%prose {
  color: $bodytext-black;
  display: block;
  font-family: $base-serif;
  font-size: $base;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

.prose {
  @extend %content-block;
  @extend %prose;
  @include clearfix;

  ul {
    @include font-size($s);
    font-family: $base-sans-serif;
    font-weight: 600;
    list-style: disc;
  }

  li {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 1em;
    }
  }

}

.headline {
  @include font-size($xl);
  font-family: $base-sans-serif;
  font-weight: 600;
  margin: 1.25em 0 .6em;
}

%paragraph-header {
  @include font-size($s);
  font-family: $base-sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;
}

// Data Viz text (Sans Serif)
%dataviz-header {
  @include font-size($m);
  font-family: $base-sans-serif;
  font-weight: 400;
}

.paragraph-header {
  @extend %paragraph-header;

  &.paragraph-header-data {
    margin: 0 0 1em;
    text-transform: none;
  }
}

.byline { //byline
  font-family: $base-sans-serif;
  font-size: .85em;
  margin-bottom: 0;

  a {
    font-weight: 800;
  }
}

.block {
  border-color: $tribune-yellow;
  border-style: solid;
  border-width: 1px 0;
  position: relative;
}

.block-quote {
  @include font-size($l);
  font-family: $base-serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2em;
  margin: .7em .5em;
  position: relative;
  text-align: left;
}

.block-quote-source {
  font-family: $base-sans-serif;
  font-weight: 300;
  margin: 1em .5em;
}

.caption {
  color: $text-gray;
  font-family: $base-sans-serif;
  font-size: .85em;
  font-weight: 400;
  margin: .25em 0;
}

.explainer-header {
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
}

.explainer-text {
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
}
