// Responsive-design Breakpoints
$default-768: new-breakpoint(min-width 768px);
$default-480: new-breakpoint(max-width 480px);

// Lead-Banner Settings
$banner-height: 225px;
$grand-header-image-url: '';

