// dependencies: bourbon + neat
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// loads base and helpers
@import '../initialize';


.swatches {
  @include clearfix;

  div {
    padding: .75em;
    height: 5em;
    margin-bottom: .5em;
    width: 100%;
  }

  ul {
    margin: .5em 0;
    list-style-type: none;
  }

  li {
    @extend %prose;
    @include span-columns(4);
    @include omega(3n);
    background-color: $background-gray;
    border: 1px solid $line-gray;
    margin-bottom: 1em;
    padding: .5em;
    text-align: center;
  }
}


