/* Share Buttons */

$bp-share-buttons: $default-desktop;

.share-row {
  @extend %content-block;
  margin-bottom: 1em;

  @include media($bp-share-buttons) {
    border-bottom: 1px solid $border-gray;
    border-top: 1px solid $border-gray;
  }

  a {
    color: rgb(119, 119, 119);

    &:hover {
      color: $share-button-black;
      text-decoration: none;
    }
  }
}

.share-cell {
  border-bottom: 1px solid $border-gray;
  font-size: .8em;
  padding: .75em 0;
  text-align: center;

  @include media($bp-share-buttons) {
    border-bottom: 0;
    border-left: 1px solid $border-gray;
  }

  &.first-share {
    border-top: 1px solid $border-gray;

    @include media($bp-share-buttons) {
      border-top: 0;
      border-left: 0;
    }
  }

  i {
    padding: 0;
  }

  @include media($bp-share-buttons) {
    float: left;
    width: 50%;
  }
}
