$bp-banner: new-breakpoint(min-width 768px);

.banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  height: $banner-height;
  margin: 0 0 1.5em;
  position: relative;
  width: 100%;

  .grand-header {
    display: table-cell;
    padding: 0 1.25em;
    position: relative;
    text-align: center;
    vertical-align: middle;

    a {
      color: rgb(255, 255, 255);
    }

    h1 {
      color: rgb(255, 255, 255);
      font-family: $base-serif;
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.15;
      text-shadow: rgb(0, 0, 0) 3px 3px 0;
      @include white-space(1);

      @include media($bp-banner) {
        font-size: 3.5em;
      }
    }

    p {
      color: $white;
      font-family: $base-sans-serif;
      font-size: 1.25em;
      letter-spacing: .0625em;
      line-height: 1.15;
      text-shadow: rgb(0, 0, 0) 2px 2px 0;
      @include white-space(2);

      @include media($bp-banner) {
        font-size: 1.5em;
      }
    }

  }

  .grand-header-image {
    background-image: url($grand-header-image-url);
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
