/* Static Nav-Bar */

//Basic Styles
.nav-bar {
  color: $white;
  font-family: $base-sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2em;
  position: static;
  text-align: center;

  //Add to active story page
  .selected { 
    background: $button-selected-teal;
  }

  ul {
    display: block;
    list-style-type: none;
    max-width: 1088px;
    width: 100%;

    li {
      border: 1px solid;
      color: $white;

      &:active {
        background: $button-hover-teal;
      }

      &:hover {
        background: $button-hover-teal;     
      }

    }

    .nav-link {
      font-weight: bold;
      margin: .75em 0;
      width: 100%;
    }

    a {
      text-decoration: none;
    } 
  }
}
