// Basic Banner

$banner-height: 600px;
$grand-header-image-url: 'http://placekitten.com/1000/800';

.banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  // height: 600px;
  // max-height: $banner-height;
  margin: 0;
  position: relative;
  width: 100%;

  .grand-header {
    @extend %content-block;
    background-color: transparentize($masthead-black, .6);
    bottom: 0%;
    display: block;
    padding: 1em;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    a {
      color: $white;
    }

    //Project Title
    h1 {
      color: $white;
      font-family: $base-serif;
      font-size: 2em;
      font-weight: 800;
      line-height: 1.15;
      margin-bottom: .25em;
      text-shadow: $black 3px 3px 0;

      @include media($default-desktop) {
        font-size: 3.5em;
      }
    }

    //Project Subtitle
    p {
      color: $white;
      font-family: $base-sans-serif;
      font-size: 1em;
      letter-spacing: .0625em;
      line-height: 1.15;
      margin-bottom: 1.5em;
      text-shadow: none;

      @include media($default-desktop) {
        font-size: 1.5em;
      }
    }

  }

  .grand-header-image {
    background-image: url($grand-header-image-url);
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

  }

}
