$bp-footer: $default-desktop;

.footer {
  background-color: $masthead-black;
  color: $href-offwhite;
  margin: 2em 0 0;
  padding: .125em 0;
  text-align: center;

  @include media($bp-footer) {
    padding: 0;
    text-align: none;
  }

  nav {
    @include media($bp-footer) {
      float: left;
      margin: 0 0 1em;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .first-nav {
    color: rgb(170, 170, 170);

    @include media($bp-footer) {
      float: left;
    }

    a {
      color: rgb(170, 170, 170);
    }

    li {
      font-size: .875em;
      padding: 0;
    }
  }

  .last-nav {
    @include media($bp-footer) {
      float: right;
    }

    a {
      color: $href-offwhite;
      text-decoration: none;

      &:active {
        color: $white;
        text-decoration: underline;
      }

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    .donor-item {
      padding-right: 0;

      a {
        color: $href-teal;
        font-weight: 800;
      }

      @include media($bp-footer) {
        padding-bottom: 1em;
      }
    }
  }

  li {
    margin: .75em 0;

    @include media($bp-footer) {
      border-left: 1px solid $href-offwhite;
      display: inline;
      float: left;
      margin: 0;
      padding: 0 .5em;

      &:first-child {
        border: 0;
        padding-left: 0;
      }
    }
  }
}
