/* Header Banner */
// Lead-Banner Settings
$banner-height: 600px;
$grand-header-image-url: 'http://placekitten.com/1000/800';

.banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  // height: 600px;
  // max-height: $banner-height; 
  margin: 0 0 1.5em;
  position: relative;
  width: 100%;

  .grand-header {
    @extend %content-block;
    display: table-cell;
    padding: 0 1.25em;
    position: relative;
    text-align: center;
    vertical-align: middle;

    a {
      color: $white;
    }

    //Project Title
    h1 {
      color: $white;
      font-family: $base-serif;
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.15;
      text-shadow: $black 3px 3px 0;
      margin-bottom: .5em;

      @include media($default-768) {
        font-size: 3.5em;
      }
    }

    //Project Subtitle
    p {
      color: $white;
      font-family: $base-sans-serif;
      font-size: 1.25em;
      letter-spacing: .0625em;
      line-height: 1.15;
      text-shadow: $black 2px 2px 0;
      margin-bottom: 1em;;

      @include media($default-768) {
        font-size: 1.5em;
      }
    }

  }

  .grand-header-image {
    background-image: url($grand-header-image-url); 
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

  }
}