.graphic {
  @include clearfix;
  line-height: 1.4;
  margin: 0 0 1.875em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    margin: 0 0 .45em;
  }

  h1 {
    @extend %font-l; // 22px
  }

  // For secondary header lines
  // (typically applied to <p>)
  .subhead {
    @extend %font-base;
    font-family: $base-sans-serif;
    font-weight: 400;
    margin: 0 0 .5em;
  }

  // Explanatory subtext
  .subtext {
    @extend %font-base;
    color: lighten($bodytext-black, 25%);
    font-family: $base-serif;
    margin: 0 0 .715em; // 10px

    &:last-child {
      margin: 0;
    }
  }

  .footer {
    @include clearfix;
    @extend %font-xs;
    background-color: $white;
    color: lighten($bodytext-black, 45%);
    margin: .5em 0;
    text-align: left;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

}



