.banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  height: 225px;
  margin: 0 0 1.5em;
  position: relative;
  width: 100%;

  .grand-header {
    display: table-cell;
    padding: 0 1.25em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    @include content-block;

    a {
      color: rgb(255, 255, 255);
    }

    h1 {
      color: rgb(255, 255, 255);
      font-family: $base-serif;
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.15;
      margin-bottom: .25em;
      text-shadow: rgb(0, 0, 0) 3px 3px 0;

      @include media($desktop) {
        font-size: 3.5em;
      }
    }

    p {
      color: rgb(255, 255, 255);
      font-family: $base-sans-serif;
      font-size: 1.25em;
      letter-spacing: .0625em;
      line-height: 1.15;
      text-shadow: rgb(0, 0, 0) 2px 2px 0;

      @include media($desktop) {
        font-size: 1.5em;
      }
    }
  }

  .grand-header-image {
    background-image: url($grand-header-image-url);
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

//Static nav-bar styles
.nav-bar {
  color: rgb(255, 255, 255);
  font-family: $base-sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2em;
  position: static;
  text-align: center;

  .selected {
    background: $button-selected-teal;
  }

  ul {
    display: block;
    list-style-type: none;
    margin-top: 2em;
    max-width: 1088px;
    width: 100%;

    li {
      border: 1px solid;
      color: rgb(255, 255, 255);

      &:active {
        background: $button-hover-teal;
      }

      &:hover {
        background: $button-hover-teal;     
      }

    }

    .nav-link {
      font-weight: bold;
      margin: .75em 0;
      width: 100%;
    }

    a {
      text-decoration: none;
    } 
  }
}
