/* Base Prose Theme */
%prose {
  @extend %font-base;
  color: $bodytext-black;
  display: block;
  font-family: $base-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

.prose {
  @extend %prose;
  @extend %forms;
  @include clearfix;

  ul {
    @extend %font-s;
    font-family: $base-sans-serif;
    font-weight: 600;
    list-style: disc;
    padding: 0 1em;
  }

  li {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 1em;
    }
  }

}

.prose-block {
  border-color: $tribune-yellow;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 1em;
  padding: 1em 0 0;
  position: relative;
}

.blockquote {
  @extend %font-m;
  font-family: $base-serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  text-align: left;
}

q.blockquote {
  display: block;
}

.blockquote-source {
  @extend %font-base;
  font-family: $base-sans-serif;
  font-weight: 300;
}

.byline {
  @extend %font-s;
  font-family: $base-sans-serif;
  margin-bottom: 1em;

  a {
    font-weight: 800;
  }
}

%caption,
.caption {
  @extend %font-s;
  color: $text-gray;
  font-family: $base-sans-serif;
  font-weight: 400;
  margin: .25em 0;
}

%explainer-text,
.explainer-text {
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1em;
  padding: 1em;
}

.headline {
  @extend %font-l;
  font-family: $base-sans-serif;
  font-weight: 600;
  margin: 1.25em 0 .6em;
}

%paragraph-header,
.paragraph-header {
  font-family: $base-sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 1em;
  text-transform: uppercase;
}
