/* Base Prose Theme */

.prose {
  @extend %content-block;
  @extend %prose;

  h1 { //headline
    font-family: $base-sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: .6em 0;
  }

  h2 { //block-quote text
    font-family: $base-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2em;
    margin: .7em .5em;
    position: relative;
    text-align: left;
  }

  h3 { //paragraph header
    @extend %paragraph-header;

    &.data-header {
      margin: 0 0 1em; 
      text-transform: none;   
    }
  }

  p {
    margin-bottom: 1em;

    &.byline { //byline
      font-family: $base-sans-serif;
      font-size: .85em;

      a {
        font-weight: 800;
      }
    }

    &.caption { 
      color: $text-gray;
      font-family: $base-sans-serif;
      font-size: .85em;
      font-weight: 400;
      margin: .25em 0;
    }

    &.source {
      font-family: $base-sans-serif;
      font-weight: 300;
      margin: 1em .5em;
    }

  }

  img {
    width: 100%;
  }

  ul {
    @extend %content-block;
    font-family: $base-sans-serif;
    font-size: .875em;
    font-weight: 600;
    list-style-type: disc;
    padding: 0 1em; 

    @include media($default-768) {
      line-height: 1.85em;
    }

    li {
      margin-bottom: .5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .block-text { 
    border-color: $tribune-yellow;
    border-style: solid;
    border-width: 1px 0;
    position: relative;
  }

  .explainer-header {
    color: $bodytext-black;
    font-family: $base-sans-serif;
    font-weight: 800;
    line-height: 1.2;
    text-align: left;
  }

  .explainer-text {
    background: $explainer-gray;
    color: $bodytext-black;
    font-family: $base-sans-serif;
    font-weight: 300;
    line-height: 1.3;
    padding: 1em;
  }

}

