$bp-table: $default-mobile;

table {
  font-family: $base-sans-serif;
  font-size: 1em;
  margin-bottom: 2em;
  width: 100%;

  @include media($bp-table) {
    border-top: 1px solid $line-gray;
    display: block;
    font-size: .875em;
  }
}

thead {
  @include media($bp-table) {
    display: none;
  }
}

tbody {
  @include media($bp-table) {
    display: block;
  }
}

th {
  border-bottom: 1px solid $line-gray;
  font-size: 1em;
  font-weight: 800;
  padding: 0 12px 8px;
  text-align: right;
  vertical-align: middle;

  &:first-child {
    text-align: left;
  }

  @include media($bp-table) {
    display: block;
  }
}

td {
  font-size: .875em;
  padding: 8px 12px;
  text-align: right;

  &:first-child {
    text-align: left;
  }

  @include media($bp-table) {
    display: block;
    font-weight: 300;
    padding: 0 12px 8px;
    text-align: left;

    &:first-child {
      font-size: 1em;
      font-weight: 800;
      padding-top: 8px;
    }

    &[data-title] {
      &:first-child:before {
        content: none;
      }
    }

    &:before {
      content: attr(data-title) '\A';
      display: block;
      font-weight: 800;
      margin-bottom: .25em;
      white-space: pre-wrap;
    }
  }
}

tr {
  &:nth-child(odd) td {
    background-color: $background-gray;
  }

  @include media($bp-table) {
    display: block;
  }
}
