/* Tribune Masthead */

.masthead {
  background-color: $masthead-black;
  width: 100%;

  .branding {
    padding: .75em 0 .375em;
    text-align: center;
    width: 100%;

    .trib-logo {
      height: 1.5em;
    }
  }
}
