/* Grid Settings */

.container {
  @extend %container;
}

//Add left/right margin to any element
.content-block {
  @extend %content-block;
}

.content-block-full {
  @extend %content-block-full;
}

.row {
  @include row();
}


